<div class="bg-light container">
    <h1 class="display1 p-4 font-family-CroissantOne text-center"><ins>Exos 2 : Panier de courses</ins></h1>

    <div class="row m-3 font-family-CroissantOne">
        <!-- Colonne de gauche (2/3 de la largeur) -->
        <div class="col-md-8">
            <div id="bg" class="rounded border border-primary p-1 m-1 mb-0 text-center">
                <h2 class="display3 mt-3"><ins>Ajouter un article :</ins></h2>
                <input class="m-1 mt-3" type="text" [(ngModel)]="nouvelArticle" placeholder="Nouvel article">
                <button class="btn btn-outline-primary btn-sm m-2" (click)="ajouterArticle()">Ajouter</button>
            </div>

            <div id="bg" class="rounded border border-primary m-4 mt-1 text-center">
                <h2 class="display3 mt-3"><ins>Sélectionner Article :</ins></h2>
                <ul class="ma-liste list-unstyled ">
                    <li class="border-primary" *ngFor="let article of articles">
                        <label>
                            <input type="checkbox" [(ngModel)]="article.isSelected"> {{ article.name }}
                        </label>
                    </li>
                </ul>
                <div class="d-flex justify-content-center align-items-center">
                    <button class="btn btn-outline-primary btn-sm mb-2" (click)="ajouterArticlesSelectionnes()">Ajouter</button>
                </div>
            </div>
        </div>

        <!-- Colonne de droite (1/3 de la largeur) -->
        <div class="col-md-4">
            <div id="bg" class="rounded border border-primary m-4 mt-1 text-center">
                <h2 class="display3 mt-3"><ins>Article du Panier :</ins></h2>
                <ul class="ma-liste list-unstyled bg-info-subtle">
                    <li class="border-primary  " *ngFor="let article of panierCourses">{{ article }}</li>
                </ul>
                <button class="btn btn-outline-primary btn-sm mb-2 mt-3 text-right" (click)="desassemblerEtJoindreTableau()">Désassembler et Joindre</button>
                <p>Résultat du désassemblage : {{ resultatDesassemble }}</p>
            </div>
        </div>
    </div>
</div>
