
<div class="bg-light">
<h1 class="display1  p-4 font-family-CroissantOne text-center"><ins>Exos 2 : Panier de courses</ins></h1>



    <div class="row m-3 font-family-CroissantOne ">
        <div id="bg" class="col-md-4  border border-primary p-1 m-1 mb-0 text-center ">
            <h2 class="display3 mt-3 "><ins>Ajouter un article :</ins></h2>
            <input class="m-1 mt-3" type="text" [(ngModel)]="nouvelArticle" placeholder="Nouvel article">
            <button class="btn btn-outline-primary btn-sm m-2 " (click)="ajouterArticle()">Ajouter</button>
        </div>
        
        <div id="bg" class="col-md-4  border border-primary m-4 mt-1 md-10 text-center ">
            <h2 class="display3 ml-10 mt-3"><ins>Article du Panier :</ins></h2>
            <ul class="ma-liste ">
                <li class=" border-primary" *ngFor="let article of panierCourses">{{ article }}</li>
            </ul>
            <button class="btn btn-outline-primary btn-sm mb-2 mt-3 text-right" (click)="desassemblerEtJoindreTableau()">Désassembler et Joindre</button>
            <p>Résultat du désassemblage : {{ resultatDesassemble }}</p>

        </div>
            
            <div  class="row ">
                <div id="bg" class="col-md-4  border border-primary m-1 p-1 mt- text-center">
                    <h2 class="mt-3"><ins>Sélectionner Article :</ins></h2>
                    <ul class="ma-liste list-unstyled">
                        <li class="border-primary" *ngFor="let article of articles">
                            <label>
                                <input type="checkbox" [(ngModel)]="article.isSelected"> {{ article.name }}
                            </label>
                        </li>
                    </ul>
                    <div class="d-flex justify-content-center align-items-center">
                        <button class="btn btn-outline-primary btn-sm mb-2" (click)="ajouterArticlesSelectionnes()">Ajouter</button>
                    </div>
                    
                </div>
            </div>
        </div>
</div>

