<div id="bg" class="rounded  m-0 d-flex flex-column align-items-center my-2 font-family-CroissantOne bg-light">
    <h1 class="display4 text-center  "><ins>Exos1 : Chronomètres</ins></h1>
<div id="bg" class="rounded border border-primary p-3 text-center m-3  ">
<h2 class="">Chronomètre Secondes</h2>
<p>{{chrono}}</p>
<button class="m-2 btn btn-outline-primary btn-sm"  (click)="startChrono()">Start</button>
<button class="m-2 btn btn-outline-primary btn-sm" (click)="stopChrono()">Stop</button>
<button class="m-2 btn btn-outline-primary btn-sm" (click)="resetChrono()">Reset</button>
</div>
<div id="bg" class="rounded border border-primary p-3 text-center m-3   ">
    <h2 class="">Chronomètre Minutes/Secondes</h2>
    <p>{{getFormattedTime()}}</p>
    <button class="m-2 btn btn-outline-primary btn-sm"  (click)="startChrono2()">Start</button>
    <button class="m-2 btn btn-outline-primary btn-sm" (click)="stopChrono2()">Stop</button>
    <button class="m-2 btn btn-outline-primary btn-sm" (click)="resetChrono2()">Reset</button>
    </div>
    <div id="bg" class="rounded border border-primary p-3 text-center m-3  ">
        <h2 class="">Chronomètre Minutes/Secondes/Milli</h2>
        <p>{{getFormattedTime2()}}</p>
        <button class="m-2 btn btn-outline-primary btn-sm"  (click)="startChrono3()">Start</button>
        <button class="m-2 btn btn-outline-primary btn-sm" (click)="stopChrono3()">Stop</button>
        <button class="m-2 btn btn-outline-primary btn-sm" (click)="resetChrono3()">Reset</button>
        </div>
</div>
