
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';


  @import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');
  .font-family-CroissantOne {
    font-family: 'Croissant One', sans-serif;
    color: rgba(23, 81, 138, 0.969);
  }
  
  #bg{
    background-color: rgba(115, 181, 252, 0.138);
    
  }